<h1>Личный кабинет автора.</h1>
<h2>Здравствуйте, %Имя!<br>
Ваши новости:</h2>

<h2>Добавить новость...</h2>
<p> Новость 1 - Просмотр/Редактирование - Удалить </p>
<p> Новость 2 - Просмотр/Редактирование - Удалить </p>
<p> Новость 3 - Просмотр/Редактирование - Удалить </p>