<h2>Страница одной новости</h2>


<% for news in @newslist -%>
 <h3><%= news.title %></h3>
 <p>
 <%= news.text %>< br />< br />
 <i><small><%= news.user %> at <%= news.created_at %></small></i>
 </p>
 <hr />
 <% end %>


<h1>%Заголовок Новости</h1>
<h2>%Дата добавления</h2>
<p>%Текст новости</p>
<h2 style="align: right">%Автор</h2>

%если авторизован пользователь и это его новость
<a>Редактировать</a><br>
<a>Удалить</a>